<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
	<div class="px-3 py-3 lg:px-5 lg:pl-3">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<a href="#/" class="flex ml-2 md:mr-24">
					<img src="favicon.ico" class="h-8 mr-3" alt="AnimalHouse Logo" />
					<span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">AnimalHouse</span>
				</a>
			</div>
			<div class="flex justify-center">
				<div class="relative">
					<button type="button" class="mr-10 text-md font-medium rounded-full w-10 h-10 bg-gray-100 text-gray-600 dark:text-gray-300" aria-controls="dropdown-user" data-dropdown-toggle="dropdown-user">
						<span class="sr-only">Open user menu</span>
						<p id="initial"></p>
					</button>
					<div class="hidden absolute w-max top-12 mt-2 rounded-md shadow-lg py-1 bg-white divide-y divide-gray-100 dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
						<div class="px-4 py-3">
							<p id="username" class="text-sm text-gray-900 dark:text-white">
							</p>
							<p id="email" class="text-sm font-medium text-gray-900 dark:text-gray-300">
							</p>
						</div>
						<ul class="py-1">
							<li>
								<a id="logout" class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>